@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Public Sans', 'sans-serif';

  --color-beige-100: hsl(30, 36%, 96%);
  --color-beige-500: hsl(23, 6%, 57%);

  --color-grey-100: hsl(0, 0%, 95%);
  --color-grey-300: hsl(0, 0%, 70%);
  --color-grey-500: hsl(0, 0%, 41%);
  --color-grey-900: hsl(252, 7%, 13%);

  --color-green-custom: hsl(177, 52%, 32%);
  --color-red-custom: hsl(7, 58%, 50%);
}
